{% set title = 'CSSgram test sheet' %}
{% set body_class = 'test-page' %}

{% extends '../twig/template.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="../css/demo-site.min.css">
  <link rel="stylesheet" href="css/test-site.css">
{% endblock %}

{% block content %}
    <header>
    <img class="logo" src="../img/cssgram-logo.svg" alt="CSSgram logo"> <h1 class="blurb"> – Test sheet </h1>
  </header>

  {% for f in filters %}
    <section id="{{f.name}}">
      <h2 class="filter-header"><a href="#{{f.name}}">{{f.name|title}}</a> <span class="done  done--{{f.is_done ? 'yep' : 'nope'}}">{{f.is_done ? '✓' : '✗'}}</span></h2>

      <div class="headers">
        <h3>Instagram</h3>
        <h3>CSSgram</h3>
      </div>

      {% for i in images %}
        <section class="test-images">

          {# ig #}
          <div>
            <figure>
              <img src="ref/{{i}}-{{f.usage}}.jpg" alt="Instagram version of {{f.name}}">
            </figure>
          </div>

          {# cssgram #}
          <div>
            <figure class="{{f.usage}}">
              <img src="../img/{{i}}.jpg" alt="CSSgram version of {{f.name}}"></div>
            </figure>
          </div>

        </section>
      {% endfor %}

    </section>
  {% endfor %}

  <footer class="attribution">Made with love by <a href="http://twitter.com/una">Una</a> | <a href="http://github.com/una/CSSgram">View Source and Contribute</a></footer>
{% endblock %}